[Unit]
Description=Attach USB/IP Device
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/usbip-attach.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
