[Unit]
Description=USB/IP Watchdog
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/usbip-watchdog.sh
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
