[Unit]
Description=USB/IP Attach Watchdog
After=network-online.target

[Service]
ExecStart=/usr/local/bin/usbip-watchdog.sh

[Install]
WantedBy=multi-user.target
